{{> nav}}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    {{#header}}
    <h1>{{blurb}}</h1>
    <p>{{detail}}</p>
    <p><a class="btn btn-primary btn-lg" href="/apply" role="button">Apply now &raquo;</a></p>
    <p>{{subtext}}</p>
    {{/header}}
  </div>
</div>

{{#about}}
<div class="container">
  <div class="row">
    {{#team}}
    <div class="col-md-6">
      <h2>About us</h2>
      <p class="lead">We are team {{name}}</p>
      <p>Please add me to your circles in G+, this is so I can make sure you get event invites. --<a href="https://plus.google.com/+KizmetzA">Kizmetz</a></p>
	  <p><a class="btn btn-default" href="https://plus.google.com/+VerenaNi/posts/LciaHsfDdbB?pid=6036572997546620818&oid=117102979344595032968">Ingress quick start guide &raquo;</a></p>
	  <p><a class="btn btn-default" href="http://www.reddit.com/r/Ingress/comments/1ui3yr/what_i_wish_i_knew_when_i_started_aka_a_level_by/">Things I wish I knew when I started &raquo;</a></p>
      <p><a class="btn btn-default" href="{{link}}" role="button">Our official community home page &raquo;</a></p>
    </div>
    {{/team}}
    {{!-- Add some additional info in these spaces, or remove them and remove the "col-md-4" class above --}}
   
    <div class="col-md-6">
      <h2>Good starter tips</h2>
      <p class="lead">AS YOU PROGRESS</p>
	  <dl>
		<dt>Intel Map - <a heref="https://www.ingress.com/intel">https://www.ingress.com/intel</a></dt>
			<dd>Get a bird’s eye view of portals, links and fields anywhere in the world.
			  Plan your routes in advance, see what your daily commute has to offer.</dd>
		<dt>+20% Attack Bonus</dt>
			<dd>Hold down the “Fire” button when using a XMP burster.
			  When the XMP energy ring converges on the green triangle release the “Fire” button.
			  Timed right, you will get up to a 20% bonus on your attacks.</dd>
		<dt>Free gear from Ingress passcodes</dt>
			<dd>Swipe right in the tabs across the top of the Ingress scanner and look for “Passcode”.
				In this screen you can redeem passcodes distributed by Niantic, Hint Water, and other entities.
				Commenting on an official Ingress G+ post will also often result in a one-timepasscode from Verity Seke.</dd>
		<dt>Bonus gear from “glyph hacking”</dt>
			<dd>Hold down the hack button until a bunch of dots shows up.
				The scanner will flash a number of symbols, based on portal level.
				Repeat these symbols “Simon” style by tracing them with your finger.
				The more glyphs you correctly repeat + the faster you do it = more gear.
				<strong>Note:</strong> the sequence matters!</dd>
		<dt>Maximize your AP gain</dt>
			<dd>Field, field, field.  Make them as small as possible, and make as many as possible.
				Learn how to make 4 fields with 4 portals</dd>
	  </dl>
	  <p class="lead">LEVEL 8+</p>
		<p>Once you achieve level 8, please reach out to the mods and let us know so we can add you to the appropriate communities.
		   This is where you get invited to ops and farm building. </p>
		<p>Looking forward to playing Ingress with you soon!!!</p>
    </div>
  </div>
</div>
{{/about}}

{{> scripts}}
