{{> nav}}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    {{#header}}
    <h1>{{blurb}}</h1>
    <p>{{detail}}</p>
    <p><a class="btn btn-primary btn-lg" href="/apply" role="button">Apply now &raquo;</a></p>
    <p>{{subtext}}</p>
    {{/header}}
  </div>
</div>

{{#about}}
<div class="container">
  <div class="row">
    {{#team}}
    <div class="col-md-4">
      <h2>About us</h2>
      <p class="lead">We are team {{name}}</p>
      <p>Please add me to your circles in G+, this is so I can make sure you get event invites. --<a href="https://plus.google.com/+KizmetzA">Kizmetz</a></p>
	  <p><a class="btn btn-default" href="https://plus.google.com/+VerenaNi/posts/LciaHsfDdbB?pid=6036572997546620818&oid=117102979344595032968">Ingress quick start guide &raquo;</a></p>
	  <p><a class="btn btn-default" href="http://www.reddit.com/r/Ingress/comments/1ui3yr/what_i_wish_i_knew_when_i_started_aka_a_level_by/">Things I wish I knew when I started &raquo;</a></p>
      <p><a class="btn btn-default" href="{{link}}" role="button">Our official community home page &raquo;</a></p>
    </div>
    {{/team}}
    {{!-- Add some additional info in these spaces, or remove them and remove the "col-md-4" class above --}}
    <div class="col-md-4">
      <!--
	  <h2>Check out our blog</h2>
      <p>We post about our ops, events, and photos of our agents in the field. See what we've been up to!</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
	  -->	  
   </div>
    <div class="col-md-4">
      <h2>Good starter tips</h2>
      <p class="lead">AS YOU PROGRESS</p>
	  <ul class="list-unstyled">
		<li>Intel Map - <a heref="https://www.ingress.com/intel">https://www.ingress.com/intel</a>
			<li>Get a bird’s eye view of portals, links and fields anywhere in the world
			  Plan your routes in advance, see what your daily commute has to offer.</li>
		</li>
	  </ul>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>
</div>
{{/about}}

{{> scripts}}
